include *.cfg
include *.md
include *.py
include *.sh
include *.txt
include *.csv
include .gitignore
include LICENSE
recursive-include sca_tools/ *.py
include versioneer.py
include sca_tools/_version.py
